.container{
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.point-click-container{
    padding:10px;
}
.header{
    font-size: 20px;
    background-color: rgb(108, 160, 95);
    font-style: bold;
    padding: 5px;;
}
.point-tracking{
    font-size: 30px;
    background-color: rgb(207, 108, 163);
}

.paragraph-follow{
    width: 400px;
    word-wrap: break-word;
    letter-spacing: 1px;
    line-height: 1.6; 
    font-size: 20px;
    background-color: cadetblue;
    padding: 10px;   

}


.button-container{
   padding: 10px;
   width: 400px;
   justify-content: space-between;
   display: flex;

    
}


